.main {
  display: flex;
  min-height: 100vh;
  background-color: #292e38ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.left {
  height: 840px;
  width: 300px;
  padding: 25px;
  padding-left: 35px;
}

.logo {
  height: 35px;
}

.tweets {
  height: 840px;
  width: 720px;
  padding: 10px;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
}

.trends {
  height: 840px;
  width: 300px;
  padding: 10px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 400px);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e9efa;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.right {
  border: 0.5 black solid;
  background-color: #161f2d;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
  grid-column-start: 2;
  grid-column-end: 5;
}

.twitterIcon {
  transform: scale(10, -10);
  color: white;
}
.twitterIconSmall {
  transform: scale(5, -5);
  color: white;
}

.formSection {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  font-family: "MontHeavy", sans-serif;
}

.titleSmall {
  font-size: 40px;
  font-family: "MontHeavy", sans-serif;
}

.titleAlready {
  font-size: 22px;
  font-family: "MontHeavy", sans-serif;
}

.btnSignin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  background-color: #121b26;
  border: 1px solid white;
  color: #0e9efa;
  font-weight: bold;
  cursor: pointer;
}

.btnSignup {
  background-color: #0e9efa;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
